{% extends "Director/wrapperDirector.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Изменение информации о задаче - {{cur_problem.problem}}</h1>
        <form method="POST" novalidate>
            <div class="form-row">
                {% csrf_token %}
                {% for problem in problemform %}
                <div class="form-group col-12 fieldWrapper">
                    <label>{{problem.label_tag}}</label>
                    <div class="form-control">{{problem}}</div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn btn-block" value="Send">Изменение информации о
                        задаче
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}