<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Страница руководителя</title>
</head>
<body>
<div class="navbar sticky-top" style="padding: 0px; padding-bottom: 5px;">
    <nav class="navbar navbar-expand-lg container-fluid navbar-dark bg-dark">
        <a class="navbar-brand" href="/homePageDirector">Главная страница</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/viewContracts">Контракты<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projectsSorting">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workersDirector">Сотрудники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/viewCustomers">Заказчики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informationDirector">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Выход</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</div>
<div class="footer fixed-bottom">
</div>
</body>
</html>